<app-header></app-header>

<main class="dashboard-body">
  <app-profile-card></app-profile-card>

  <section class="announcements-section">
    @for (announcement of announcements; track announcement.title; let i = $index) {
    <div class="announcement-card" [class.pinned]="announcement.isPinned">
      <div class="card-header">
        <span class="card-author">Posted by: {{ announcement?.author }}</span>
        <span class="card-date">{{ announcement?.date | date:'MMMM d, y' }}</span>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ announcement?.title }}</h3>
        <p class="card-description">{{ announcement?.body }}</p>
      </div>
      <div class="card-actions">
        <button type="button" [class.pinned-btn]="announcement.isPinned" (click)="onPinAnnouncement(announcement)">
          {{ announcement.isPinned ? 'Unpin' : 'Pin' }}
        </button>
        <button type="button" (click)="onDeleteAnnouncement(i)">Delete</button>
      </div>
    </div>
    }
  </section>

  <section class="students-section">
    <h2>Student List</h2>
    <div class="student-card" [class.highlighted]="student.isFavorite" *ngFor="let student of students; let i = index">
      <h3 class="student-name">#{{ i + 1 }} {{ student.name }}</h3>
      <p class="student-info">{{ student.course }} • {{ student.year }}</p>

      <div class="card-actions">
        <button type="button" [class.favorited]="student.isFavorite" (click)="onFavoriteStudent(student)">
          {{ student.isFavorite ? '★ Favorited' : '☆ Favorite' }}
        </button>
        <button type="button" (click)="onEditStudent(student)">Edit</button>
        <button type="button" (click)="onDeleteStudent(i)">Delete</button>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>

<router-outlet />