@if (isLoading()) {
<div class="loading-container">
  <div class="spinner"></div>
  <p>Loading students portal...</p>
</div>
} @else {
<app-header></app-header>

<main class="dashboard-body">
  <app-profile-card></app-profile-card>

  <section class="announcements-section">
    @for (announcement of announcements; track announcement.title; let i = $index) {
    <div class="announcement-card" [class.pinned]="announcement.isPinned">
      <div class="card-header">
        <span class="card-author">Posted by: {{ announcement?.author }}</span>
        <span class="card-date">{{ announcement?.date | date:'MMMM d, y' }}</span>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ announcement?.title }}</h3>
        <p class="card-description">{{ announcement?.body }}</p>
      </div>
      <div class="card-actions">
        <button type="button" [class.pinned-btn]="announcement.isPinned" (click)="onPinAnnouncement(announcement)">
          {{ announcement.isPinned ? 'Unpin' : 'Pin' }}
        </button>
        <button type="button" (click)="onDeleteAnnouncement(i)">Delete</button>
      </div>
    </div>
    }
  </section>


  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
}