<section class="student-detail-section">
    <div class="detail-card">
        <h2>Student Information</h2>

        <div class="info-group">
            <label>Student ID:</label>
            <p>{{ student.id }}</p>
        </div>

        <div class="info-group">
            <label>Full Name:</label>
            <p>{{ student.name }}</p>
        </div>

        <div class="info-group">
            <label>Course:</label>
            <p>{{ student.course }}</p>
        </div>

        <div class="info-group">
            <label>Year Level:</label>
            <p>{{ student.year }}</p>
        </div>

        <div class="info-group">
            <label>Status:</label>
            <p>
                @if (student.active) {
                <span class="active-badge">[Active]</span>
                } @else {
                <span class="inactive-badge">[Inactive]</span>
                }
            </p>
        </div>

        <div class="actions">
            <a routerLink="/students" class="back-button">← Back to Student List</a>

        </div>
    </div>
</section>